<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Kelp!</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Kelp!</h1>
            </div>

            {% if restaurants is not empty %}
                <h3>Here are the restaurants that serve food of this mood: {{ cuisine.getType }}</h3>
                <ul class='list-unstyled'>
                    {% for restaurant in restaurants %}
                            <form action="/delete_restaurant">
                                <input type="hidden" name="restaurant_id" value="{{ restaurant.getId }}">
                                <li>
                                    {{ restaurant.getName }} | {{ restaurant.getDescription }}
                                </li>
                            </form>
                    {% endfor %}
                    <li>
                        <form action="/cuisines/{id}/delete_restaurant">
                            <input type="hidden" name="cuisine_id" value="{{ cuisine.getId }}">
                            <button type="text" name="button">Delete All {{ cuisine.getType }} Restaurants</button></li>
                        </form>
                    </li>
                </ul>
            {% else %}
                <h2>Ain't no {{ cuisine.getType }}-type restaurants just yet.</h2>
            {% endif %}

            <form action="/restaurants" method="post">
                <h4>Add a new {{ cuisine.getType }} Restaurant</h4>

                <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
                <input type="text" name="name" placeholder="Restaurant Name" id="name">
                <input type="number" name="price_range" id="price_range" placeholder="Price Range (1 - 3)">
                <input type="text" name="description" placeholder="Description" id="description">

                <button type="submit" class="btn">Submit</button>
            </form>

            <a href="/">Home</a> <br>
            <a href="/all_restaurants_deleted">Delete All Restaurants</a>
        </div>
    </body>
</html>
