<html>
    <head>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <title>Kelp!</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Kelp!</h1>
            </div>

            {% if restaurants is not empty %}
                <h3>Here are the restaurants that serve food of this mood: {{ cuisine.getType }}</h3>
                <ul class='list-unstyled'>
                    {% for restaurant in restaurants %}
                        <li><a href='/restaurants/{{ restaurant.getId }}'>{{ restaurant.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>Ain't no {{ cuisine.getType }}-type restaurants just yet.</h2>
            {% endif %}

            <form action="/restaurant_added" method="post">
                <h4>Add a new {{ cuisine.getType }} Restaurant</h4>

                <input type="hidden" name="cuisine_id" value="{{ cuisine.getId() }}" id="cuisine_id">
                <input type="text" name="name" placeholder="Restaurant Name" id="name">
                <input type="number" name="price_range" id="price_range" placeholder="Price Range (1 - 3)">
                <input type="text" name="description" placeholder="Description" id="description">

                <button type="submit" class="btn">Submit</button>
            </form>

            {% if cuisines is not empty %}
                <h3>Choose a different food-mood below:</h3>
                <ul class='list-unstyled'>
                    {% for cuisine in cuisines %}
                        <li><a href='/cuisines/{{ cuisine.getId }}'>{{ cuisine.getType }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>
