<div class="jumbotron">
    <h1>Kelp!</h1>
    <h2>{{ cuisine.getType }}</h2>
</div>


<form action="/cuisines/{{ cuisine.getId }}" method="post">
    <input type="text" name="name" placeholder="Add a Restaurant" id="name">
    <button type="submit" class="btn">Submit</button>
</form>

{% if restaurants is not empty %}
    <h3>Here are the restaurants that serve food of this mood: {{ cuisine.getType }}</h3>
    <ul class='list-unstyled'>
        {% for restaurant in restaurants %}
            <li><a href='/restaurants/{{ restaurant.getId }}'>{{ restaurant.getName }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Ain't no restaurants of this food-mood just yet.</h3>
{% endif %}

{% if cuisines is not empty %}
    <h2>Choose a different food-mood below:</h2>
    <ul class='list-unstyled'>
        {% for cuisine in cuisines %}
            <li><a href='/cuisines/{{ cuisine.getId }}'>{{ cuisine.getType }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h2>There are no food-moods to choose from yet!</h2>
{% endif %}

, array('cuisine' => $cuisine, 'cuisines' => $cuisines, 'restaurants' => $cuisine->getRestaurants())
